<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SITCON</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>SITCON</h1>      <a href="{{ url_for('logout') }}" class="logout-btn">Sair</a>
    </header>

    <div class="menu-container">
      <div class="menu-item" onclick="alert('AMVs selecionado')">
        <h2>AMVs</h2>
        <p>Acesso a relação de AMVs</p>
      </div>
      <div class="menu-item" onclick="alert('CDVs selecionado')">
        <h2>CDVs</h2>
        <p>Acesso a relação de CDVs</p>
      </div>
      <div class="menu-item" onclick="alert('Sinais selecionado')">
        <h2>Sinais</h2>
        <p>Acesso a relação de Sinais</p>
      </div>
    </div>
  </body>
</html>
